@model AgenciaDeViagens.ViewModel.ReservarViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Pacotes</h1>
    <p>Desfrute dos nossos pacotes promocionais de viagem internacional por um preço camarada!</p>
    <hr />
    @if (TempData["debug"] != null)
    {
        <h1>@TempData["debug"]</h1>

    }
    else
    {
        <h1>teste</h1>
    }

    <form method="post">
        <div class="row">
            <div class="col d-flex justify-content-center my-2">
                <label class="me-2">Escolha a data desejada de embarque:</label>
			    <input name="DataInicial" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" value="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" />
            </div>
            <div class="col d-flex justify-content-center my-2">
                <label class="me-2">Escolha a data desejada de chegada:</label>
                <input name="DataFinal" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" value="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" type="date" />
            </div>
        </div>
        <div class="row my-3">
            <button class="btn btn-primary" type="submit">Verificar disponibilidade</button>
        </div>
    </form>
    <div class="row" id="pacotes">
        @foreach (var item in Model.Pacotes)
        {
            <div class="card my-2 p-0 mx-2">
                <img src="@item.ImagemUrl[0]" class="card-img-top">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">@item.Titulo</h5>
                        <p class="card-text">@item.Descricao</p>
                    </div>
                    <div>
                        <hr />
                        <div class="d-flex justify-content-between text-center">
                        <p class="card-text text-success my-auto me-2"><span class="text-success h5">R$@item.PrecoPorNoite</span> por noite</p>
						<a asp-controller="Home" asp-action="Pacote" asp-route-id="@item.Id" class="btn btn-outline-success">Agendar Reserva</a>
                    </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>