@model AgenciaDeViagens.ViewModel.ClienteDadosViewModel

<h1>Histórico de Reservas de @Model.ClienteNome</h1>
<hr />

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nome da Reserva</th>
			<th>Datas de Estadia</th>
			<th>Preço Total</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Reservas)
		{
			<tr>
				<td>@item.Titulo</td>
				<td>@item.DataInicio até @item.DataFim</td>
				<td>@item.PrecoTotal</td>
			</tr>
		}
	</tbody>
</table>