@model AgenciaDeViagens.ViewModel.ClienteDadosViewModel

<h1>Histórico de Reservas de @Model.ClienteNome</h1>
<hr />

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nome da Reserva</th>
			<th>Datas de Estadia</th>
			<th>Preço Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			@foreach (var item in Model.Reservas)
			{
				<td>@item.Titulo</td>
			}
		</tr>
		<tr>
			@foreach (var item in Model.Reservas)
			{
				<td>@item.DataInicio até @item.DataFim</td>
			}
		</tr>
		<tr>
			@foreach (var item in Model.Reservas)
			{
				<td>@item.PrecoTotal</td>
			}
		</tr>
	</tbody>
</table>